<!doctype html> 
<html> 
  <head> 
    <title><%=shopName%></title>
    <link rel="stylesheet" href="/styles.css">
  </head> 
  <body> 
    <h1>About The <%=shopName%> Shop</h1> 
    <p>We sell all sorts of drinks such as Beer, Wine, Soft Drinks and Hot Drinks</p>
    
    <h2>Our Shop Locations</h2>
    <ul>
      <% shops.forEach(function(shop) { %>
        <li>
          <strong>Manager:</strong> <%= shop.manager %><br>
          <strong>Address:</strong> <%= shop.address %>
        </li>
      <% }); %>
    </ul>
  </body> 
</html> 