<html> 
  <head> 
    <title><%= shopName %></title>
    <link rel="stylesheet" href="/styles.css">
  </head> 
  <body> 
    <h1>Search The <%= shopName %> Shop</h1> 
    <p>Search your favorite drinks</p>
    <form action="/search_result" method="GET"> 
      <!-- Search Box for Name -->
      <label for="search_text">Name:</label>
      <input id="search_text" type="text" name="search_text" placeholder="Enter drink name"> 
      
      <!-- Search Box for Category -->
      <label for="category">Category:</label>
      <input id="category" type="text" name="category" placeholder="Enter category"> 
      
      <input type="submit" value="Search"> 
    </form> 
  </body> 
</html>